<% content_for :title, "Resend Unlock Instructions - Bullet Services" %>
<% content_for :page_title, "Resend Unlock Instructions" %>
<% content_for :page_subtitle, "Resend account unlock instructions" %>

<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email" %>
  </div>

  <%= f.submit "Resend Unlock Instructions", class: "admin-button" %>
<% end %>

<div class="admin-links">
  <%= link_to "Back to Admin Login", new_session_path(resource_name) %>
</div>
