<% content_for :title, "Change Password - Bullet Services" %>
<% content_for :page_title, "Change Password" %>
<% content_for :page_subtitle, "Set your new administrator password" %>

<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password" %>
    <% if @minimum_password_length %>
      <div style="font-size: 11px; color: #9ca3af; margin-top: 4px; text-transform: none; letter-spacing: 0;">
        (<%= @minimum_password_length %> characters minimum)
      </div>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Enter your new password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your new password" %>
  </div>

  <%= f.submit "Change my password", class: "admin-button" %>
<% end %>

<div class="admin-links">
  <%= link_to "Back to Admin Login", new_session_path(resource_name) %>
</div>
