<% content_for :title, "Password Reset - Bullet Services" %>
<% content_for :page_title, "Password Reset" %>
<% content_for :page_subtitle, "Reset your administrator password" %>

<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<div class="admin-notice">
  <strong>Forgot your admin password?</strong>
  Enter your email address below and we'll send you a link to reset it.
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your admin email" %>
  </div>

  <%= f.submit "Send Reset Instructions", class: "admin-button" %>
<% end %>

<div class="admin-links">
  <%= link_to "Back to Admin Login", new_session_path(resource_name) %>
</div>
