<%= content_tag :div, class: class_names("avo-navbar fixed top-0 left-0 right-0 bg-gray-100 dark:bg-[var(--admin-surface-alt)] p-1.5 lg:p-2 w-full flex flex-shrink-0 items-center z-[100] px-3 lg:px-4 border-b border-gray-200 dark:border-[var(--admin-border-strong)] space-x-2 lg:space-x-4 lg:space-x-0 h-16", {"print:hidden": Avo.configuration.hide_layout_when_printing}) do %>
  <div class="flex items-center space-x-2 w-auto lg:w-64 flex-shrink-0 h-full">
    <div>
      <%= a_button class: 'lg:hidden', icon: 'avo/menu', size: :xs, compact: true, style: :text, data: { action: 'click->sidebar#toggleSidebarOnMobile' }, aria: {label: "Toggle sidebar"} %>
      <%= a_button class: 'hidden lg:block', icon: 'avo/menu', size: :xs, compact: true, style: :text, data: { action: 'click->sidebar#toggleSidebar' }, aria: {label: "Toggle sidebar"} %>
    </div>
    <%= render partial: "avo/partials/logo" %>
  </div>
  <div class="flex-1 flex items-center justify-between lg:justify-start space-x-2 sm:space-x-8 lg:px-2">
    <%= render Avo::Pro::GlobalSearchComponent.new(resource:) if defined?(Avo::Pro::GlobalSearchComponent) %>
    <div class="m-0 w-full flex justify-end">
      <%= render partial: "avo/partials/header" %>
    </div>
  </div>
<% end %>
